.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.Main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  outline: none;
}

button {
  outline: none;
}

h1 {
  color: white;
  font-family: "Questrial", sans-serif;
  user-select: none;
}

h3 {
  color: white;
  font-family: "Questrial", sans-serif;
  user-select: none;
}

p {
  color: white;
  font-family: "Questrial", sans-serif;
  user-select: none;
}

text {
  color: white;
  font-family: "Questrial", sans-serif;
  user-select: none;
}

.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  animation: 1s ease-out 0s 1 fadeIn;
  border-bottom: 1px solid #ffffff3d;
  display: flex;
  flex-direction: row;
}

.top-row {
  animation: 1s ease-out 0s 1 fadeIn;
  height: 65%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.bottom-row {
  animation: 1s ease-out 0s 1 fadeIn;
  padding: 0.5rem;
  height: 35%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border-top: 1px solid #ffffff3d;
}

.piano-container {
  width: 1000px;
  min-width: 800px;
  height: 100%;
}

.master-volume-container {
  position: relative;
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.header-item-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.value {
  z-index: -1;
  font-family: "Questrial", sans-serif;
  fill: white;
  font-size: 35px;
}

select {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: white;
}
