.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.Main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a { outline: none; }

button { outline: none; }

h1 {
  color: white;
  font-family: 'Questrial', sans-serif;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

h3 {
  color: white;
  font-family: 'Questrial', sans-serif;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

p {
  color: white;
  font-family: 'Questrial', sans-serif;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

text {
  color: white;
  font-family: 'Questrial', sans-serif;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-row {
  animation: 1s ease-out 0s 1 fadeIn;
  height: 65%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.bottom-row {
  animation: 1s ease-out 0s 1 fadeIn;
  padding: 10px;
  height: 35%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.piano-container {
  width: 1000px;
  min-width: 800px;
  height: 100%;
}

.master-volume-container {
  position: relative;
  background-color: black;
  border-left: #ffffff3d 1px;
  border-style: solid;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.value {
  z-index: -1;
  font-family: 'Questrial', sans-serif;
  fill: white;
  font-size: 35px;
}
