
.ReactPiano__Keyboard {
    /* Used for absolute positioning of .ReactPiano__Key--accidental elements */
    position: relative;
    /* Used to lay out .ReactPiano__Key--natural elements */
    display: flex;
}
  
  .ReactPiano__Key {
    /* Used for flexbox layout of the child .ReactPiano__NoteLabelContainer elements */
    display: flex;
  }


.ReactPiano__Key--active {
    background: #f00;  /* Change the default active key color to bright red */
}
  
.ReactPiano__Key--accidental {
    background: #000;
    border: 2px solid #fff;
    border-top: 1px solid transparent;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    height: 66%;
    /* Overlay on top of natural keys */
    z-index: 1;
    /* Use absolute positioning along with inline styles specified in JS to put keys in correct locations. */
    position: absolute;
    top: 0;
}


.ReactPiano__Key--natural {
    background: #f6f5f3;
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    z-index: 0;
    /*
     * Uses flexbox with margin instead of absolute positioning to have more consistent margin rendering.
     * This causes inline styles to be ignored.
     */
    flex: 1;
    margin-right: 1px;
}